<p id="notice"><%= notice %></p>

<h1>Game Titles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @game_titles.each do |game_title| %>
      <tr>
        <td><%= link_to game_title.name, edit_game_title_path(game_title) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Title', new_game_title_path, class: 'btn btn-primary btn-block' %>
